@page "/dp"
<h3>DemoPage</h3>
<div id="@id"></div>
<input @bind="id" />
<ul @ref="ref1">
    <li @key="1">dsfsdf</li>
    <li>dsfsdf</li>


    <li>dsfsdf</li>
    <li>dsfsdf</li>
    <li>dsfsdf</li>
    <li>dsfsdf</li>
</ul>

@code {
    public string id { get; set; }
    ElementReference ref1;
    
}
