@page "/todo"

<h3>ToDoPage</h3>
<input @bind="MyTodo.AktuellAufgabe.Text" @onfocusout="@(_=>MyTodo.Addiere(MyTodo.AktuellAufgabe))" />
<ul class="list-group">
    @foreach (var item in MyTodo.Aufgaben)
    {
        <li @key="item.ID" class="list-group-item">@item.Text </li>

    }
</ul>

@code {
    public CoronaApp.Data.ToDoVM MyTodo { get; set; } = new Data.ToDoVM();

}
